<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/player.css">
    <title>Document</title>
</head>
<body>

    <div class="playercontainer">
    <div class="playertitle">
        <h1>Player Feedback</h1>
    </div>
    
    <form action="/" method="post">
        <div class="playername playerfield">
            <label for="name">Numele имя</label>
            <input type="text" name="name" placeholder="Nume prenume Фамилия имя">
        </div>
        <div class="playercontact playerfield">
            <label for="contact">Contact</label>
            <input type="text" name="contact" placeholder="Instagram, telegram">
        </div>
        <div class="playergood playerfield">
            <label for="good">Ce a fost bine? Что было хорошего?</label>
            <div class="wordcount-good">
            <textarea name="good" id="playergood" rows="3"></textarea>
            <p id="word-good">0</p>
        </div>
        </div>
        <div class="playerimprove playerfield">
            <label for="improve">Ce se poate mai bine? Что может быть лучше?</label>
            <textarea name="improve" id="playerimprove" rows="3" maxlength="200"></textarea>
            <p id="char-improve">0 / 200</p>
        </div>
        <div class="playercomments playerfield">
            <label for="comments">Comentarii Комментарии</label>
            <textarea name="comments" id="playercomments" rows="3" maxlength="200"></textarea>
            <p id="char-comments">0 / 200</p>
        </div>
        
        <div class="submitbutton playerfield">
            <button type="submit">Submit</button>
        </div>
     
    </form>
</div>


<script src="textarea.js"></script>
</body>
</html>
